html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*CSS Reset Ends*/

@font-face {
	font-family: 'libre_baskervilleregular';
	src: url('../fonts/librebaskerville-regular-webfont.woff2') format('woff2'), url('../fonts/librebaskerville-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'libre_baskervillebold';
	src: url('../fonts/librebaskerville-bold-webfont.woff2') format('woff2'), url('../fonts/librebaskerville-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'libre_baskervilleitalic';
	src: url('../fonts/librebaskerville-italic-webfont.woff2') format('woff2'), url('../fonts/librebaskerville-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'veteran_typewriterregular';
	src: url('../fonts/veteran_typewriter-webfont.woff2') format('woff2'), url('../fonts/veteran_typewriter-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*
	General Settings
*/

/* Turn off side menu */
#sidemainnav, #mainsideimg, #sidesubnav,
#partssideimg, #mainsideimg img, #partssideimg img,
#sidecontrolnav, #controlsideimg {
    display: none;
}

.libreFont {
	
	font-family: 'libre_baskervilleregular';
	
}

.helFont {
	
	font-family: helvetica;
	
}

.twFont {
	
	font-family: 'veteran_typewriterregular';
	
}


body {
	
	background-color: #889471;
	font-family: 'libre_baskervilleregular';
}

/*
	Rest of Document
*/
 
header.dfs {
	
	padding-bottom: 5%;
	padding-top: 5%;
	
}

#wrapper {
	
	margin-left: 10em;
    margin-right: 10em;
	
}

#logo {
	
	float: left;
	width: 6em;
	margin-right: 15px;
	
}

#logo img{
    width: 6em;
}

#name {
	
	float: left;
	width: 15em;
	font-size: 1.75em;
	font-family: 'libre_baskervillebold';
	
}

#tagline {
	
	width: 20em;
	margin-top: 50px;
	font-size: 1.25em;
	
}

#socialbuttons{
    margin-bottom: 20px;
}

#socialbuttons ul li {
	
	margin-left: 50px;
	float: right;
	
}

#socialbuttons img {
    width: 3em;
}

#nav_space{
    margin-top: 5px;
    margin-bottom: 5px;
}

#mainnav, #subnav, #controlpanel, #sidepartsnav, #sidecontrolnav {
    float: left;
    width: 97%;
    background-color: #82a182;
    border-radius: 50px;
    border: 5px solid #435943;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'libre_baskervilleregular';
    text-align: center
}

#mainnav ul {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-flex;
    font-size: 1.5em;
}

#mainnav ul li {
    padding-left: 0.5em;
    padding-right: 0.25em;
    float: left;
}

#mainnav ul li a {
	
	text-decoration: none;
	padding-right: 15px;
	color: black;
	
}

#sidepartsnav, #sidecontrolnav {
    display: none;
}

#subnav {
    float: right;
    width: 17%;
    font-size: 100%;
}

#storyname, #storytag {
    text-align: center;
}

#storyname, #storytag, #sidestoryname, #sidestorytag {
    margin-top: 5px;
    margin-bottom: 15px;
}

    #storyname h1, #sidestoryname h1 {
        font-size: 150%;
        font-family: 'libre_baskervillebold';
    }

    #storytag h2, #sidestorytag h2 {
        font-size: 100%;
        font-family: 'libre_baskervilleitalic';
    }

.partLink {
    margin-bottom: 15px;
}

    .partLink a, #partprev a, #partnext a,
    #sidepartprev a, #sidepartnext a {
        text-decoration: none;
        color: black;
        font-size: 115%;
    }

#partprev, #partnext, #sidepartprev, #sidepartnext {
    float: right;
    margin-bottom: 15px;
}

#partnext, #sidepartnext {
    margin: 0;
}

#topLink, #topLinkSide {
    text-decoration: none;
    color: black;
}

#worksarea, #pdfarea, #htmlarea {
	
	float: left;
	background-color: #82a182;
	border-radius: 50px;
	border: 5px solid #435943;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
	font-size: 0.75em;
	text-align: center;
	font-family: 'libre_baskervilleregular';
	
}

#pdfarea, #htmlarea{
    width: 70%;
}

#previous {
    margin-left: 5%;
    margin-right: 2%;
}

#next {
    margin-left: 3%;
    margin-right: 5%;
}

#previous, #next {
    margin-bottom: 48%;
}

#pdfview {
    width: 70%;
}

#page_display {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40%;
    background-color: #b4cdb4;
    border-radius: 50px;
    border: 5px solid #435943;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
    text-align: center;
    font-family: 'libre_baskervilleregular';
    width: 15%;
}

#pageTitle {
	
	font-family: 'libre_baskervillebold';
	font-size: 2.5em;
	
}

#workInfo {
	
	width: 85%;
	margin-left: 7.5%;
	
}

#controlpanel, #presentationcontrol {
    float: right;
    width: 17%;
}

.coverIMG {
	
	margin-top: 15px;
	margin-bottom: 15px;
	width: 55%;
	
}

.label {
	
	font-family: 'libre_baskervillebold';
	font-size: 1.25em;
	margin-bottom: 15px;
	margin-top: 15px;
	
}

.summary {
	
	font-family: 'libre_baskervilleitalic';
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 15px;
	width: 85%;
	margin-left: 7.5%;
	
}

.gameCredits {
	
	margin-top: 30px;
	margin-bottom: 45px;
	
}

.gameCredits li {
	
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1em;
	
}

.gameTrailer {
	
	width: 75%;
	height: 75%;
	margin-top: 15px;
	margin-bottom: 30px;
	
}

#presentationbutton, #downloadbutton, #sidepresentationbutton, #sidedownloadbutton {
    width: 90%;
    margin-left: 5%;
}

#presentationbutton, #sidepresentationbutton {
    margin-top: 15px;
    margin-bottom: 15px;
}

.download {
	
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 1em;
	
}

.link, .embeddedLink {
	
	font-family: 'libre_baskervilleitalic';
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1em;
	
}

footer {
	
	clear: both;
	background-color: #5c6b52;
	padding-top: 10px;
	
}

.footersection {
	
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 8em;
	font-size: 1.25em;
	
}

.footersection a {
	
	text-decoration: none;
	color: black;
	font-family: 'libre_baskervillebold';
	
}

#smallprint {
	
	font-size: 0.75em;
	padding-bottom: 25px;
	text-align: center;
	line-height: 1.25em;
	
}

#portCode {
	
	margin-top: 15px;
	margin-bottom: 5px;
	
}

#portCodeLink {
	
	color: black;
	font-family: 'libre_baskervilleitalic';
	
}

/* The navigation menu links */

.closebtn {
	display: none;
}


/* Dropdown Button */

.dropbtn {
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
	position: relative;
	display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #82a182;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
	background-color: #82a182;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
	display: block;
}

@media screen and (max-width: 1500px){
    #wrapper{
        margin-left: 5em;
        margin-right: 5em;
    }

    #mainnav ul{
        font-size: 1.25em;
    }

    .footersection{
        margin-left: 5em;
    }
}

@media screen and (max-width: 875px)
{
	
	header {
		
		display: none;
		
	}

    #wrapper{
        margin-left: 3em;
        margin-right: 3em;
    }
	
	.label {
		
		font-size: 1.25em;
		
	}
	
	.summary, .gameCredits li, .download, .link, .embeddedLink {
		
		font-size: 1em;
		
	}
	
	.embeddedLink {
		
		display: none;
		
	}
	
	/* Turn on side menu image */
    #partssideimg, #mainsideimg, #sidemainnav, #sidecontrolnav, #sidepartsnav {
        display: block;
        position: fixed;
        left: 0;
        top: 5%;
    }
	
	#mainsideimg img{
		
		width: 25%;
        display: block;
		
	}

    #partssideimg {
        display: block;
        position: fixed;
        clear: both;
        top: 5%;
    }

    #sidepartsnav {
        display: block;
        width: 0;
    }

    #partssideimg img, #sidecontrolnav img {
        display: block;
        position: fixed;
        left: 90%;
        width: 9.5%;
    }

    #sidecontrolnav {
        top: 50%;
    }
	
	#sidelogo {
		
		width: 35%;
		float: left;
        margin-right: 2em;
		
	}
	
    #sidelogo img{
        width: 100%;
    }

	#sidename {
		
		float: left;
		width: 7em;
		font-family: 'libre_baskervillebold';
		font-size: 1.5em;
		margin-top: 15px;
		
	}
	
	#sidetagline {
		
		width: 7em;
        float: left;
		font-size: 1.25em;
        margin-top: 15px;
		
	}
	
	#sidesocialbuttons {
		
		margin-top: 25px;
		margin-bottom: 25px;
        float: left;
		
	}
	
	#sidesocialbuttons ul li {
		
		display: inline;
		margin-right: 25px;
		
	}

    #pullednav {
        float: left;
    }
	
	#pullednav ul li{
		
		margin-bottom: 15px;
		font-size: 1.75em;
		
	}
	
	#pullednav ul li a {
		
		text-decoration: none;
		color: black;
		
	}
	
	#sidelogo, #sidesocialbuttons, #pullednav {
		
		margin-left: 25px;
		
	}
	
	#worksarea {
		
		margin-left: 10%;
		width: 75%;
		
	}
	
	/* The side navigation menu */
	.mainsidenav {
		height: 60%;
		/* 100% Full-height */
		width: 0;
		/* 0 width - change this with JavaScript */
		position: fixed;
		/* Stay in place */
		z-index: 1;
		/* Stay on top */
		top: 5%;
		left: 0;
		background-color: #82a182;
		overflow-x: hidden;
		/* Disable horizontal scroll */
		padding-top: 60px;
		/* Place content 60px from the top */
		transition: 0.5s;
		/* 0.5 second transition effect to slide in the sidenav */
		border-radius: 0px;
		border: 0px solid #435943;
	}
	/* The navigation menu links */
	.closebtn {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #111111;
		display: block;
		transition: 0.3s
	}
	/* Position and style the close button (top right corner) */
	.mainsidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	
}